---
layout: default
---

{% include header.html %}

<div class = "about-page">

<div class = "row">

    <div class = "col-sm-12">
    <p>Spacehack.org is a directory of ways to participate in space exploration. We curate awesome projects that allow for anyone, with or without a formal science background, to make an active contribution to the furthering of space exploration and knowledge.</p>

    <p>Spacehack.org launched in 2008 and is an entirely independent effort. If you enjoy Spacehack.org and want to support the effort, come <a href="http://patreon.com/arielwaldman">join us on Patreon</a>!</p>
    </p>

    </div>
</div><!-- /row -->

<div class = "row">
<div class = "col-sm-4"></div>
<div class = "col-sm-8">
    <p>Ariel Waldman, Founder</p>
    <p><a href="http://arielwaldman.com">Ariel Waldman</a> makes "massively multiplayer science", instigating unusual collaborations that spark clever creations for science and space exploration. Ariel is the founder of Spacehack.org, and the global director of Science Hack Day, a 20-countries-and-growing grassroots endeavor to make things with science. She is the author of <i>What's It Like in Space?: Stories from Astronauts Who've Been There</i> and the co-author of a congressionally-requested National Academy of Sciences study on the future of human spaceflight. She sits on the council for NASA Innovative Advanced Concepts (NIAC), a program that nurtures radical, sci-fi-esque ideas that could transform future space missions. She is also a fellow at Institute For The Future. In 2013, Ariel received an honor from the White House for being a Champion of Change in citizen science.</p>
</div>
</div><!-- /row -->


<div class = "row">
<div class = "col-sm-4"></div>
<div class = "col-sm-8">
    <p>Lisa Ballard, CTO</p>
    <p><a href="https://about.me/lballard">Lisa Ballard</a> is on a mission to make space data accessible. She is a planetary science web developer at the SETI Institute and the CTO of Spacehack.org. She is also the creator of Daily Rings and the co-creator Spaceprob.es, a catalog of the human-made machines that freckle our solar system. As a web developer and science advocate, she is passionate about creating beautiful user experiences through close collaborations with designers. In addition to loving all-things-space, Lisa enjoys scuba diving, hiking and spending time with her cats.</p>
</div>
</div><!-- /row -->

</div><!-- about page -->