---
layout: default
---

{% include header.html %}

<div class = "about-page">
<div class = "row">

    <div class = "col-sm-12">
    <p>Spacehack.org is a directory of ways to participate in space exploration. We curate awesome projects that allow for anyone, with or without a formal science background, to make an active contribution to the furthering of space exploration and knowledge. Spacehack.org launched in 2008 and is an entirely independent effort. If you enjoy Spacehack.org and want to support the effort, come <a href="http://patreon.com/arielwaldman">join us on Patreon</a>!</p>

    </div>
</div><!-- /row -->

<div class = "row">
<div class = "col-sm-4">
        <p><img width = "100%" src = "/assets/img/spacehack_arielphoto.jpg"></p>
</div>
<div class = "bio col-sm-8">
    <p>Ariel Waldman, Founder</p>
    <p><a href="http://arielwaldman.com">Ariel Waldman</a> makes "massively multiplayer science", instigating unusual collaborations that spark clever creations for science and space exploration. Ariel is the founder of Spacehack.org and the global director of <a href = "http://sciencehackday.org/">Science Hack Day</a>. She is the author of <a href = "http://amzn.to/1MFUEVC"><cite>What's It Like in Space?</cite></a> and the co-author of a congressionally-requested National Academy of Sciences <a href = "http://www.nap.edu/catalog/18801/pathways-to-exploration-rationales-and-approaches-for-a-us-program">study</a> on the future of human spaceflight. She sits on the council for <a href = "http://www.nasa.gov/niac">NASA Innovative Advanced Concepts</a>. In 2013, Ariel received an <a href = "http://www.whitehouse.gov/blog/2013/06/25/hacking-science-and-space-exploration">honor</a> from the White House for being a Champion of Change in citizen science.</p>
</div>
</div><!-- /row -->


<div class = "row">
<div class = "col-sm-4">
    <p><img width = "100%" src = "/assets/img/spacehack_lisaphoto.jpg"></p>
</div>
<div class = "bio col-sm-8">
    <p>Lisa Ballard, CTO</p>
    <p><a href="https://about.me/lballard">Lisa Ballard</a> is on a mission to make space data accessible. She is a planetary science web developer at the <a href = "http://www.seti.org/">SETI Institute</a> and the CTO of Spacehack.org. She is also the creator of <a href = "http://twitter.com/dailyrings">Daily Rings</a> and the co-creator of <a href = "https://spaceprob.es/">Spaceprob.es</a>, a catalog of the human-made machines that freckle our solar system. As a web developer and science advocate, she is passionate about creating beautiful user experiences through close collaborations with designers. In addition to loving all-things-space, Lisa enjoys scuba diving, hiking and spending time with her cats.</p>
</div>
</div><!-- /row -->

</div><!-- about page -->
