<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <nav class="navbar navbar-dark navbar-fixed-top">
      <div class="container-fluid">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="/">
            <span class="underline">{{ site.title }}</span>
          </a>

        </div>
      </div>
    </nav>

    <div class="banner">
        
        <img class = "img_fit" src="/assets/img/{{ page.banner }}" alt="{{ page.title }}">

    </div>      

    <div class="page-content row-fluid">

      <div class="content col-sm-4">

        <div class = "probe_title">
          {{ page.title }}
        </div> 

        <ul class = "probe_links">

          {% if page.website %}
            <li><a href = "{{ page.website }}">{{ page.website }}</a></li>
          {% endif %}

          {% if page.twitter %}
            <li><a href = "{{ page.twitter }}">{{ page.twitter }}</a></li>
          {% endif %}

          {% if page.facebook %}
            <li><a href = "{{ page.facebook }}">{{ page.facebook }}</a></li>
          {% endif %}

        </ul>

      </div>

      <div class="content post-content col-sm-8">

        {{ page.content }}

      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
