---
layout: default
default_fixed_nav: false
---

<h1 style = "hidden">{{ site.title }}</h1>

<div class="hero-image">
  <img width = "100%" src = "/assets/img/lunarlandscape2.jpg">
</div>

<div class = "tagline">

  <h2>{{ site.description }}</h2>

</div>

<div class="homepage-grid row-fluid">

  {% for post in site.posts %}
    <div class = "project col-sm-4">

      <a class="post-link" href="{{ post.url}}">

        <img width = "700px" src="/assets/img/{{ post.thumbnail }}" alt="{{ post.title }}" class="img-responsive">

        <div class="circle">

          <div class = "cat">
            {{ post.category }}
          </div>

          <div class = "project-underline"></div>

          <h2>
            {{ post.title }}
          </h2>

        </div><!-- /circle -->
      </a>
  
    </div><!-- /project -->

  {% endfor %}
</div>
