---
layout: default
default_fixed_nav: false
---

<h1 style = "hidden">{{ site.title }}</h1>

<div class="hero-image"></div>

<div class = "tagline">

  <h2>{{ site.description }}</h2>

</div>

<div class="homepage-grid row-fluid">

  {% for post in site.posts %}
    <div class = "project col-sm-4">

      <img src="/assets/img/{{ post.thumbnail }}" alt="{{ post.title }}" class="img-responsive">

      <div class="circle">

        <div class = "cat">
          {{ post.category }}
        </div>

        <div class = "project-underline">
          <hr>
        </div>

        <h2>
          <a class="post-link" href="{{ post.url}}">{{ post.title }}</a>
        </h2>

      </div>

    </div>

  {% endfor %}
</div>
