---
title: homepage
---
{% if page.url contains 'page' %}{% else %}
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
  
    <h1 class="hidden">{{ site.title }}</h1>

    <div class="hero-image"></div>

    {% include header.html %}

    <div class="tagline">

      <h2>{{ site.description }}</h2>

    </div>


  <div class="project-grid row">

{% endif %}


{% include homepage_grid.html %}


<span class = "tablet_indicator"></span>
<span class = "large_indicator"></span>
<span class = "xl_indicator"></span>
<span class = "mobile_indicator"></span>

{% if page.url contains 'page' %}{% else %}

  </div><!-- /grid -->

    {% include footer.html  %}

  </body>

</html>
{% endif %}
