---
layout: default
---

<div class="post_banner">
  <img class = "img_fit" src="/assets/img/{{ page.banner }}" alt="{{ page.title }}">
</div>      

<div class="page-content row-fluid">

  <div class="content sidebar col-sm-4">
      
    <h1>{{ page.title }}</h1>

    <div class = "small_underline"></div>
      
    <ul class = "probe_links">

      {% if page.website %}
        <li><a href = "{{ page.website }}">{{ page.website }}</a></li>
      {% endif %}

      {% if page.twitter %}
        <li><a href = "{{ page.twitter }}">{{ page.twitter }}</a></li>
      {% endif %}

      {% if page.facebook %}
        <li><a href = "{{ page.facebook }}">{{ page.facebook }}</a></li>
      {% endif %}

    </ul>

  </div><!-- page-content -->

  <div class="content post-content col-sm-8">
    {{ page.content }}
  </div><!-- post-content -->

</div>