---
layout: default
---

<div class="project_banner">
  <img class = "img_fit" src="/assets/img/{{ page.banner }}" alt="{{ page.title }}">
</div>      

<div class="page-content row-fluid">

  <div class="content sidebar col-sm-5">
      
    <h1>{{ page.title }}</h1>

    <div class = "small_underline"></div>
      
    <ul class = "project_links">

      {% if page.website %}
        {% assign web_label = page.website | split:'://' | last %}
        <li class = "link"><a href = "{{ page.website }}">{{ web_label }}</a></li>
      {% endif %}

      {% if page.twitter %}
        {% assign twitter_label = page.twitter | split:'twitter.com/' | last %}
        <li class = "twitter"><a href = "{{ page.twitter }}">{{ twitter_label }}</a></li>
      {% endif %}

      {% if page.facebook %}
        {% assign fb_label = page.facebook | split:'facebook.com/' | last %}
        <li class = "facebook"><a href = "{{ page.facebook }}">{{ fb_label }}</a></li>
      {% endif %}

    </ul>

    {% if page.tags %}

      {% assign c = 0 %}
      <ul class = "tags">

        {% for tag in page.tags %}
          
          <li>{{ tag }}</li>
          
          {% comment %} only display 3 {% endcomment %}
          {% assign c = c | plus: 1 %}
          {% if c == 3 %} {% break %} {% endif %}

        {% endfor %}
      </ul>
    {% endif %}

  </div><!-- page-content -->

  <div class="content post-content col-sm-7">
    {{ page.content }}
  </div><!-- post-content -->

</div>